*{
    margin: 0px;
}
.home-title{
    text-align: center;
    padding-top: 75px;
    color: rgb(36, 36, 36);
    

}
.navbar{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    
    background-color: rgb(107, 85, 57);
  
    height: 9vh;
    padding: 8px;
}
.nav-item{
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-weight: bold;
    color: rgb(205, 205, 205);
    padding: 20px;
  
  }
  .old-north-img{
      height: 45vh;
      width: 100vw;
      
      background-image: url('../images/oldnorthmain.jpg');
      background-position: center;
      background-size: cover;
      position: relative;
      

      
  }
  .nav-item:focus{
    color:rgb(255, 255, 255);
    background-color: rgb(70, 53, 36);
    border-radius: 15%;
  
  }
.home-text{
    text-align: center;
    margin:20px;
}
.form{
    border: 1px solid lightgray;
    border-radius: 10px;
    padding: 4%;
    margin:5%;

}
.footer-img{
    height: 48px;
    width: 48px;
}
.footer{
    background-color: rgb(139, 110, 69);
    color:white;
    display: flex;
    justify-content: space-evenly;
    padding:10px;
    position: absolute;
    top:85%;
    width: 100vw;
    height: 11vh;
}

#insta-img{
    background-image: url("../images/insta.png");
  
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
#mail-img{
    background-image: url("../images/mail.png");
    background-position: center;

    background-repeat: no-repeat;
    background-size: cover;
    width: 60px;
}
