*{
    margin: 0px;
}
.home-title{
    text-align: center;
}
.navbar{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    background-color: tan;
    height: 11vh;
    padding-top: 20px;
}
.nav-item{
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-weight: bold;
    color: black;
    padding: 20px;
  
  }
  .nav-item:focus{
    color:rgb(255, 255, 255);
    background-color: black;
  
  }
.home-text{
    text-align: center;
    margin:20px;
}
.footer{
    background-color: black;
    color:white;
    display: flex;
    justify-content: space-evenly;
    padding:10px;
}


