*{
    margin: 0px;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
 
}
.home-title{
    text-align: center;
    padding-top: 55px;
    color: rgb(22, 22, 22);
    
}
.home{
    height: 90vh;
    background-color: rgb(160,175,135);
    padding: 2%;
    width: inherit;
    text-align: center;
}
.home-text{
    margin:5vw;
    line-height: 30px;
}
.navbar{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(135, 131, 121);
    height: fit-content;
    padding: 8px;
}

.nav-item{
   
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-weight: bold;
    color: rgb(255, 255, 255);
    padding: 20px;
  
  }
  .nav-item:focus{
    color:rgb(0, 0, 0);
    background-color: rgb(186, 186, 186);
    border-radius: 15%;
  
  }
  .dark-button{
    
      margin:15px;
      width: 125px;
      border-radius: 5px;
      height: fit-content;
      padding:7px;
      margin-top: 9px;
  }
  .old-north-img{
      height: 30vh;
      width: inherit;
      background-image: url('../images/oldnorthmain.jpg');
      background-position:center;
      background-size: cover;
   
      
  }
  

.form{
  
    border-radius: 10px;
    padding: 4%;
    margin: 5%;
    background-color: rgb(200,190,180);
    width: fit-content;
    display: block;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: .9px solid rgb(113, 112, 112);
    position: absolute;
    left: 20%;
    border-radius: 10%;
    /* box-shadow: 10px; */
}
.form-message{
    height: 90px;
    width: 350px;
    margin: 5px;
}
.form-input{
    height:20px;
    width: 200px;
    margin: 5px;

}
.submit-button{
    width: 80px;
    padding: 7px;
    background-color: rgb(193, 192, 192);
    border-radius: 8px;
   
 
}
.submit-button:hover{
   
    background-color: rgb(120, 120, 120);
    color:white;
  
 
}
.book_trip{
    height: fit-content;
    text-align: center;
    background-color: rgb(160,175,135);
    padding: 2%;
    display: inline-flex;
    flex-direction: column;
    width: 100%;
   
}
.yurt-photo{
    height: 270px;
    width: 390px;
    /* display: flexbox; */

    margin:20px;
}
.yurt-photo:hover{
    opacity: 55%;
    /* filter: grayscale(65%);  */
    
} 
.reviews{
    height:fit-content;
    text-align: center;
    background-color: rgb(160,175,135);
    padding: 2%;
}
.each-review{
    width: 500px;
    padding: 15px;
    margin:60px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
  }
/* .top-row{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.mid-row{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.bot-row{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
} */
.grid-item{
    border:1px solid black;
    width: fit-content;
    margin:10px;
    width: 90px;
    height: 55px;
    background-color: green;
}
.grid-item:hover{
    position: relative;
    top: 7px;
  
    opacity: 60%;
}
.about{
    height: fit-content;
    text-align: center;
    background-color: rgb(160,175,135);
    padding: 2%;
    
}
.about-section{
    line-height: 30px;
    margin:3vw;
}
.sheep{
    height: 300px;
    width: 250px; 
    background-position: center;
    background-size: cover; 
   
}

.contact{
    height:80vh;
    text-align: center;
    background-color: rgb(160,175,135);
    padding: 15px;
}

.unauthpage{
  
    line-height: 35px;
    padding: 40px;
    height: 100vh;
    text-align: center;
    background-color: rgb(165,170,175);
        
  }
 
  .logout-button{
      border-radius: 5px;
      height: fit-content;
      padding:7px;
      margin-top: 9px;
  }
  .signup{
    background-color: rgb(160,155,145);
    line-height: 30px;
    padding: 10px;
    /* margin-top: 10px; */
    width: 350px;
    text-align: center;
    border: .9px solid rgb(199,193,180);
    position: relative;
    left: 30%;
    border-radius: 10%;
    
  }
  .login{
   background-color: rgb(160,155,145);
    line-height: 30px;
    padding: 10px;
    width: 350px;
    text-align: center;
    border: .9px solid rgb(113, 112, 112);
    position: relative;
    left: 30%;
    border-radius: 10%;
  
  }
  .form-div{
      border: 1px solid black;
      /* margin: 20px; */
      padding: 2%;
      display: flex;
    justify-content: center;
  }
  .lodge-item{
    /* border: 1px solid black; */
     line-height: 200%;
    width: 95%;
    margin: 8px;
  }
  
 
.footer{
    background-color: rgb(135,131,121);
    color:white;
    display: flex;
    justify-content: space-evenly;
    padding:10px;
    width: inherit;
    height: 15vh;
}

#insta-img{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
#mail-img{
   
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 65px;
    
}
.footer-img{
    height: 50px;
    width:50px;
    margin-top: 12px;
    /* position: relative;
    top: 2px; */
}
.footer-img:hover{
    position: relative;
    bottom: 5px;
}
/* 
.popup{
   
  
    background-color: rgb(0,0,0,0.5);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
     /* z-index: 1;  
     padding-top: 100px; 
     left: 0;
     top: 0;
     width: 100%; 
     height: 100%;
     /* overflow: auto;  
  

}
.popup-content{
    background-color: white;
    padding: 15px;
    height: 20%;
    width: 80%;
    position: absolute; 
    left: 20%;
    top: 30%;
    border: 1px solid #888;
    border-radius: 10px;
    
    max-width: 650px;
    max-height: 300px;
}
 .popup-button{
    background-color: rgb(206, 206, 206);
    border-radius: 4px;
    position: absolute;
    top:16px;
    right:16px;
} */
 
