*{
    margin: 0;
    padding:0;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
 
}
.home-title{
    text-align: center;
    padding-top: 55px;
    color: rgb(22, 22, 22);
    
}
.home{
    height: fit-content;
    background-color: rgb(160,175,135);
    padding: 1%;
    width: inherit;
    text-align: center;
}
.home-text{
    margin:5vw;
    line-height: 30px;
}
.navbar{
   
    display: flex;
    position: relative;
    justify-content:space-around;
    align-items: center;
    background-color: rgb(135, 131, 121);
    color:white;
    height: fit-content;
    padding:4px;
   
}

.navbar-links{
    display: flex;
    height: 100%;
    
}
.navbar-links ul{
   display: flex; 
   margin:0;
   padding:0;
    
}
.navbar-links li{
    list-style: none;
    
}

.navbar-links li a {
   text-decoration: none;
    padding:1rem;
    display: block; 
    color:white;
    font-weight: bold;

}
.navbar-links li:hover{
   background-color: #666;
 
}
.required-star{
    color: rgb(130, 38, 38);
    margin: 0;
    display:inline;
    /* float:left; */
}

  .toggle{
      position: absolute;
      top:1rem;
      right:1rem;
      display: none;
      flex-direction: column;
      justify-content: space-between;
      width: 30px;
      height: 20px;


  }
  .succes-msg{
      border: 1px solid black;
      padding:4px;
      margin:4px;
  }
  .toggle .bar{
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
  }

 .links-hidden{
    display: flex;
    
    height: 100%;
 }

.links-hidden ul{
   display: flex; 
   margin:0;
   padding:0;
    
}
.links-hidden li{
    list-style: none;
    
}

.links-hidden li a {
   text-decoration: none;
    padding:1rem;
    display: block; 
   
    color:white;
    font-weight: bold;

}
.links-hidden li:hover{
   background-color: #666;
 
}

  @media (max-width: 990px) {
      /* meaning when media is <900px */
      .navbar{
        flex-direction: column;
        align-items: flex-start;
        /* list-style: none;
        text-decoration: none; */
      }
      .toggle{
        display: flex;
      }
      .navbar-links{
       
        display: none;
        width: 100%;
       
      }
      .links-hidden ul{
          width: 100%;
          flex-direction: column;
           
      }

      .links-hidden ul li{
          text-align: center;
           /* color:white; */
           

      }
      .links-hidden ul li a{
          padding: .5rem 1rem;
          text-align: center;
           
      }
     
      .links-hidden{
        display: flex;
        flex-direction: column;
        width: 100%;
       
      } 
    

  }
  .add-btn{
      padding:4px;
  }
  .unauth-button{
      padding:4px;
  }
 .login-signup{
     padding:4px;
 }

      
  
  .dark-button{
    
      margin:8px;

      width: 125px;
      border-radius: 5px;
      height: fit-content;
      padding:6px;
     
  }
  
   input[type="radio"]{
       display: none;
   }

  .old-north-img{
      height: 30vh;
      width: inherit;
      background-image: url('../images/oldnorthmain.jpg');
      background-position:center;
      background-size: cover;
   
      
  }
  .contact-div{
      padding: 10px; 
      margin-left:10vw;
      display: flex;
      justify-content: space-around;
      align-items: center;
  }
  .contact{
      display: flex;
      flex-direction: row;
  }
.form{
 
    padding: 30px;
    border-radius: 10px;
    margin:30px;
    width: fit-content;
    height: fit-content;
    text-align: center;

}
.form-message{
    height: 90px;
    width: 350px;
    margin: 5px;
    padding:2px;
}
.form-input{
    height:20px;
    width: 200px;
    margin: 5px;
    padding:2px;

}
.description-edit{
    height: 90px;
    width: 300px;
   
    padding:3px;
}
.welcome{
    position: relative;
    left:2px;
    margin:6px;
   

}

.submit-button{
    width: 80px;
    padding: 7px;
    background-color: rgb(193, 192, 192);
    border-radius: 8px;
   
 
}
.submit-button:hover{
   
    background-color: rgb(120, 120, 120);
    color:white;
  
 
}
.button{
    padding:5px;
    border-radius: 5px;
   border: 1px solid black;
   margin:4px;
}
.button:active{
    background-color: rgb(166, 164, 164);
    color: rgb(255, 255, 255);
    border: 1px solid rgb(121, 121, 121);
}
.book_trip{
    height: fit-content;
    text-align: center;
    background-color: rgb(160,175,135);
    padding: 2%;
    display: inline-flex;
    flex-direction: column;
    width: 100%;
   
}
.yurt-photo{
    height: 270px;
    width: 390px;
    /* display: flexbox; */

    margin:20px;
}
.yurt-photo:hover{
    opacity: 70%;
    /* filter: grayscale(65%);  */
    
} 
.reviews{
    height:fit-content;
    text-align: center;
    background-color: rgb(160,175,135);
    padding: 1%;
}
.each-review{
    width: 70%;
    padding: 12px;
    margin:60px;
  
    margin-left: 14%;
    height:fit-content;
    border: 1px solid rgb(47, 47, 47);
    border-radius: 8px;
  }
  .item-description{
    height: 90px;
    width: 250px;
    padding: 2px;
   
  }

.grid-item{
    border:1px solid black;
    width: fit-content;
    margin:10px;
    width: 90px;
    height: 55px;
    background-color: green;
}
.grid-item:hover{
    position: relative;
    top: 7px;
    opacity: 10%;
}
.about{
    height: fit-content;
    text-align: center;
    background-color: rgb(160,175,135);
    padding: 2%;
    
}
.about-section{
    line-height: 30px;
    margin:3vw;
}
.sheep{
    height: 300px;
    width: 250px; 
    background-position: center;
    background-size: cover; 
   
}
.sheeple{
    height: 330px;
    width: 420px; 
    background-position: center;
    background-size: cover; 
   
}

.poppy{
    height: 420px;
    width: 360px; 
    margin: 20px;
    display: flex;
    
    margin-left: 10vw;
    padding: 20px;

    
}


.unauthpage{
  
    line-height: 35px;
    padding: 40px;
    height: 100vh;
    text-align: center;
    background-color: rgb(165,170,175);
        
  }
 
  .logout-button{
      
      margin:8px;
      width: 75px;
      border-radius: 5px;
      height: fit-content;
      padding:5px;
  }
  .signup{
    background-color: rgb(140,135,125);
    line-height: 30px;
    padding: 14px;
    /* margin-top: 10px; */
    width: 350px;
    text-align: center;
    /* border: .9px solid rgb(199,193,180); */
    position: relative;
    left: 30%;
    border-radius: 10%;
    
  }
  .login{
   background-color: rgb(140,135,125);
    line-height: 38px;
    padding: 14px;
    width: 350px;
    height: 300px;
    text-align: center;
    /* border: .9px solid rgb(113, 112, 112); */
    position: relative;
    left: 30%;
    border-radius: 10%;
  
  }
  .newreview{
    background-color: rgb(151, 146, 136);
    width: fit-content;
    padding:40px;
    text-align: center;
    height: fit-content;
    border-radius: 25px;
    line-height: 30px;
    border: 1px solid rgb(108, 108, 108);
  
    
  }
  .form-div{
      /* margin: 20px; */
      padding: 2%;
      display: flex;
      justify-content: center;
  }
  
  .lodge-item{
    /* border: 1px solid black; */
    line-height: 200%;
    width: 95%;
    margin: 20px;
    /* padding-right:5px; */
   
   /* text-align: center; */
  }
  
 
.footer{
    background-color: rgb(135,131,121);
    color:white;
    display: flex;
    justify-content: space-evenly;
    padding:10px;
    width: inherit;
    height: 15vh;
}

#insta-img{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
#mail-img{
   
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 65px;
    
}
.footer-img{
    height: 50px;
    width:50px;
    margin-top: 12px;
    /* position: relative;
    top: 2px; */
}
.footer-img:hover{
    position: relative;
    bottom: 5px;
}